<ul class="reservations">
  <% @conference_room.reservations.each do |reservation| %>
      <li><%= reservation.starts_at.strftime("%F") %></li>
  <% end %>
</ul>

<ul class="meetings">
  <% @conference_room.meetings.each do |meeting| %>
  <li><%= meeting.name %></li>
  <% end %>
</ul>